@model IEnumerable<Garage2.Models.ParkedVehicle>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In bibendum nisl vel dui viverra pellentesque. Morbi tempus augue mi. Donec bibendum, mi quis feugiat tristique, urna tortor tincidunt nisi, ac posuere augue tortor et enim. Etiam sed sem a quam vulputate convallis. Suspendisse purus libero, fringilla eu euismod non, lobortis in enim. Maecenas a orci commodo nisl scelerisque tincidunt. Aenean pretium euismod nibh, et lacinia metus tincidunt sed. Nulla facilisi.
</p>
<p>
Suspendisse et mi quam. Etiam tempus risus et nisl varius, id bibendum sapien semper. Quisque sollicitudin, mauris in pellentesque elementum, ligula elit semper nisi, sit amet faucibus quam tortor ac ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin bibendum massa ex, id laoreet quam eleifend ac. Integer rutrum placerat nisi, ac tempor felis consectetur eu. Vivamus pulvinar sapien vel consequat blandit. Duis lectus leo, luctus in elit eu, tincidunt dapibus turpis. Suspendisse hendrerit nunc vel lacus posuere iaculis. Aliquam elementum tempus neque, ac sagittis est.
</p>
<p>
Morbi vulputate placerat auctor. Phasellus porttitor, eros vitae interdum condimentum, magna dolor pellentesque turpis, a auctor nunc purus euismod nisi. Duis mi sem, faucibus vitae finibus et, vehicula nec erat. Proin facilisis aliquet orci sed placerat. Phasellus maximus iaculis lacus, vel tempor nisl gravida ac. Ut placerat nulla non dui posuere venenatis. Curabitur tellus risus, sagittis sed turpis eu, finibus hendrerit nisl. Fusce non nunc vitae nisi tempor imperdiet vel vitae turpis. Nulla ullamcorper scelerisque nisl, in feugiat diam egestas eu. Sed pellentesque felis felis, ullamcorper pharetra elit molestie vitae. Nam dolor lacus, viverra et pretium in, euismod et lorem. Maecenas elementum dolor ante, varius mollis ex accumsan eget. Nunc id magna maximus, auctor lorem eget, feugiat sapien. Vestibulum sit amet tortor laoreet, mattis ante sit amet, aliquam arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</p>
<p>
Suspendisse at diam id justo commodo volutpat a vel odio. Curabitur consectetur leo ac sem cursus, eget ornare ligula varius. Maecenas nec magna sed nisi faucibus pellentesque. In tincidunt est ut semper ornare. Donec elementum elit pellentesque, tristique ex quis, congue nisi. Ut consequat nulla vel ultrices fermentum. Suspendisse nulla libero, mollis eget finibus nec, mollis eget eros. Praesent a eros in lorem volutpat consequat. Aliquam imperdiet cursus sapien, nec commodo nisi tincidunt blandit. Etiam ipsum purus, lobortis id nisl eget, volutpat hendrerit augue. Vestibulum vitae turpis aliquam, consequat neque et, scelerisque dolor. Ut lorem ligula, vehicula sollicitudin ex a, scelerisque luctus ex. Nullam mollis sodales dolor eget tincidunt. Fusce ut justo ultricies, rhoncus sapien in, consequat mauris. Vestibulum et tellus volutpat, molestie risus eget, rutrum purus.
</p>
<p>
Praesent vitae ultrices massa. Ut tempor ac neque eget ultricies. Nam nec tempus mi. Fusce mattis mattis elit, eu tincidunt ligula gravida vitae. Vestibulum eu nibh dictum ipsum consequat congue. Morbi dignissim a ipsum id venenatis. Nullam posuere a tortor sit amet imperdiet. Ut finibus, libero sed egestas tincidunt, sem purus laoreet ante, sed malesuada felis dui nec nulla.
</p>

</table>
